:root{
    --bg-image: url("../system_images/bg/luke-chesser-tgrBcf7S_dY-unsplash.jpg");
    --left-menu-width: 18%;
    --top-header-height: 50px;
    --business-name-height: calc(var(--top-header-height) + 50px);
    --basic-font-family: Arial, Helvetica, sans-serif;
    --system-green-color: rgba(4, 196, 106, 0.855);
    --font1: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font2:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --input-hover-shadow: 20px 20px 60px rgba(168, 42, 63, 0.349), -20px -20px 60px rgba(228, 56, 85, 0.212);
}
html, body{
    /* background-color: #e86b19;
    background-image: var(--bg-image); */
    background: linear-gradient(-45deg, #c6314a, #e26e2b);
    /* background-size: cover; */
    padding: 0px;
}
main{
    display: flex;
    position: fixed;
    top: .8%;
    right: 1%;
    left: .5%;
    bottom: 2%;
    border: 5px solid rgba(255, 255, 255, 0.239);
    border-radius: 25px;
    box-shadow: 0;
    border-radius: 30px;
    overflow: hidden;
}

/* //MENU */
[left-main-menu]{
    display: flex;
    flex-flow: column;
    position: absolute;
    width: var(--left-menu-width);
    top: 0px;
    bottom: 0px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    overflow: hidden;
    overflow-y: auto;
    background: linear-gradient(to left, rgb(223, 223, 223), rgba(238, 238, 238, 0.71));
}
/* MAIN TOP HEADER TAB */
[top-main-header]{
    position: absolute;
    display: flex;
    left: var(--left-menu-width);
    width: calc(100% - (var(--left-menu-width) + 10px));
    height: var(--top-header-height);
    top: 0px;
    background: linear-gradient(to bottom, rgb(219, 218, 218), #eeeeeeb5);
    border-top-right-radius: 25px;
    overflow: hidden;
    overflow-x: auto;
    margin-right: 10px;
    padding-right: 10px;
}
/* MAIN DISPLAY AREA */
[main-display-area]{
    position: absolute;
    /* display: flex; */
    left: var(--left-menu-width);
    width: calc(100% - var(--left-menu-width));
    top: var(--top-header-height);
    right: 0px;
    bottom: 0px;
    overflow-y: auto;
    background: linear-gradient(145deg, rgba(235, 232, 232, 0.89),  #eeeeee3d);
    border-bottom-right-radius: 25px;
}

/* LEFT MAIN MENU CONTENT */
[business-name-details]{
    display: inline-flex;
    width: calc(97% - 5px);
    /* border: 1px solid red; */
    height: var(--business-name-height);
    padding-left: 10px;
    border-top-left-radius: 25px;
}
[main-menu]{
    display: inline-flex;
    position: absolute;
    flex-flow: column;
    /* border: 1px solid green; */
    bottom: 0px;
    left:0px;
    right:0px;
    top: var(--business-name-height);
    border-bottom-left-radius: 25px;
    overflow: hidden;
    overflow-y: auto;
}
[menu-item], [main-menu] > span{
    transition: .6s;
    display: inline-flex;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 40px;
    min-height: 30px;
    color:#444444ed;
    margin-bottom: 5px;
}
[main-menu] > span.active{
    background: #f8f8f89a;
    color: #e26e2b;
}
[main-menu] > span:hover{
    background: #f8f8f89a;
    color: #e26e2b;
    cursor: pointer;                
}

[menu-item]:hover{
    background: #f8f8f89a;
    color: #e26e2b;
    cursor: pointer; 
}
[main-menu] > span *:hover{
    cursor: pointer;
}
[menu-item] *:hover{
    cursor: pointer;
    
}
[menu-item] i, [main-menu] > span i{
    margin: 0px 5px;
    width:20px;
}
[menu-item] label, [main-menu] > span label{
    padding-left: 10px;
    font-family: var(--basic-font-family);
    font-size: 13px;
}

[basic-card]{
    /* transition: .6s; */
    min-width: 200px;
    min-height: 80px;
    background: #ffffff;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 15px;
    box-shadow: 20px 20px 60px rgba(168, 42, 63, 0.349), -20px -20px 60px rgba(228, 56, 85, 0.212);
    font-family: var(--basic-font-family);
    font-size: 13px;
}
[basic-card] *:hover{
    text-shadow: none !important;
}
[basic-card] h4{
    padding: 5px;
    margin-bottom: 5px;
}
[basic-card] span:nth-child(2){
    margin-top: 5px;
}

[basic-card] h3:hover{text-shadow: 1px 1px 1px rgba(168, 42, 63, 0.349) !important;}

[page-title]{
    font-family: var(--font2);
    padding: 0px 20px;
}
[page-title] h1{
    font-family: var(--font2);
    font-style: revert;
    color: #333333;
    font-weight: 400;
    font-size: 22px;
    text-shadow: 0px 0px 0px rgba(204, 33, 62, 0.349);
    border-bottom: 1px inset rgba(204, 33, 62, 0.349);
    margin-right: 5px;
}
[home-admin-thumb-img]{
    display: inline-flex;
    outline: none;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.356);
    margin-right: 5px;
}
[admin-profile-menu]{
    display: flex;
    display: none;
    position: fixed;
    z-index: 999;
    top: calc(1.5% + var(--top-header-height));
    right: 1%;
    width: 180px;
    /* min-height: 200px; */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.973), #ecb2bcd8);
    box-shadow: var(--input-hover-shadow);
    border-radius:10px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    overflow: hidden;
}
[admin-profile-menu] [menu-item]:last-child{
    margin-bottom: 0px;
}
[top-admin-profile-holder] *{
    cursor: pointer;
}
.searchBox{
    margin-left: 10px;
}
input, select{
    transition: .6s;
    outline: none;
    padding: 5px 8px;
    border: 1px solid rgba(255, 255, 255, 0.239);
    border-radius: 3px;
}
[icon-menu]{
    display:inline-flex;
    align-items: center;
    align-content: center;
    transition: .6s;
    font-size:18px;
    margin: 0px 35px;
    color: #777777d0;
    cursor: pointer;
}
[icon-menu]:hover{
    color: #e26e2b;
}
input:hover{
    box-shadow: var(--input-hover-shadow);
}
select:hover{
    box-shadow: var(--input-hover-shadow);
}
select:focus{
    box-shadow: var(--input-hover-shadow);
}
.searchBox [search-input]:focus{
    /* border-color: ; */
    box-shadow: var(--input-hover-shadow);
}
button{
    transition: .6s;
    outline:none;
    padding: 5px 8px;
    border: 1px solid rgba(255, 255, 255, 0.239);
    border-radius: 3px;
    margin: 2px;
    cursor: pointer;
    box-shadow: var(--input-hover-shadow);
}
button:hover{
    box-shadow: 5px 5px 80px rgba(168, 42, 63, 0.829), -5px -5px 80px rgba(228, 56, 85, 0.74);
    color: #e26e2b;
}
[status-icon]{
    padding: 5px;
    border-radius: 5px;
}
[status-completed]{
    background-color: var(--system-green-color);
    color: rgba(255, 255, 255, 0.816);
}
[status-pending]{
    background-color: #e26e2b;
    color: rgba(248, 248, 248, 0.604);
}
[status-default]{
    background-color: #c6314a;
    color: rgba(255, 255, 255, 0.816);
}
[push-to-bottom]{
    position: absolute;
    bottom: 0px;
    margin-bottom: 0px;
}
[hr]{
    border-top: 0px solid transparent;
    margin-top: 15px;
    border: 1px solid rgba(158, 157, 157, 0.253);
}
[grey]{color: rgb(128, 128, 128);}
[hover-b]:hover{font-weight: bold;}
[hover-dark]:hover{color: #333333;}
[nowrap]{word-wrap: none; white-space: nowrap;}
[overflow-x]{overflow-x: auto;}
[full-width]{width: calc(100% - 2px);}
[flex]{display: flex;}
[in-flex]{display: inline-flex;}
[row-wrap]{flex-flow: row; flex-wrap: wrap;}
[cols]{flex-flow: column;}
[space-evenly]{justify-content: space-evenly;}
[space-between]{justify-content: space-between;}
[space-around]{justify-content: space-around;}
[border-1]{border: 1px solid #777;}
[vertical-center]{align-items: center;align-content: center;}
[font1]{font-family: var(--font1);}
[font2]{font-family: var(--font2);}
[small]{font-size:small;}
[smaller]{font-size: smaller;}
[center]{text-align: center;}
[cursor-pointer]{cursor: pointer;}
[transition]{transition: .6s;}
[mg0]{margin: 0px;}
[pd]{padding: 0px;}
.bottom-main-loader{
    /* border: 1px solid red !important; */
    position: absolute !important;
    bottom: 20px;
    background: linear-gradient(-45deg, #faf9f9e7, #fafafadc) !important;
    padding: 0px !important;
    width: 50px !important;
    height: 50px !important;
    border-radius: 50% !important;
}
[loader-section]{
    display: none;
    position: absolute;
    top:0px;
    right: -20px;
    z-index: 999;
    width: inherit;
    height: 30px;
    align-items: center;
    align-content: center;
    line-height: 20px;
    font-weight: bold;
}
[loader-section] code{
    display: inline-flex;
    text-shadow: -1px 6px 8px #000;
    color: #05af60;
    
}
[processing_loader] div{
    display: inline-flex;
}
/* TEXT BLINKER */
[blink-content] {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  /* DATE SELECTOR */
  [type="date"] {
    background:#fff url(../system_images/icons/calendar_2.webp)  97% 50% no-repeat ;
  }
  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  label[input-title]{
    font: 13px/1.4 Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    display: block;
  }
/* SCROLL BAR */

*::-webkit-scrollbar-track
{
	--webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
    background-color: hsla(0, 0%, 96%, 0.63);
    margin-bottom: 1px;
}

*::-webkit-scrollbar
{
    width: 5px;
    height: 5px;
    background-color: rgba(245, 245, 245, 0.068);
    margin-bottom: 1px;
}

*::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	--webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgba(4, 196, 106, 0.855);
    margin-bottom: 1px;
}

/* LOADER */
.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    /* margin: 2px; */
    box-sizing: border-box;
    border: 8px solid var(--system-green-color);
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }

  /* CIRCLE LOADER */
.circle_loader {
	width: 50px;
	height: 50px;
	margin: 0 auto;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-name: ro;
	transform-origin: 50% 50%;
	transform: rotate(0) translate(0,0);
}

@keyframes ro {
	100% {
		transform: rotate(-360deg) translate(0,0);
	}
}
/* END LOADER */
  