:root{
    --bg-image: url("../system_images/bg/luke-chesser-tgrBcf7S_dY-unsplash.jpg");
    --left-menu-width: 18%;
    --top-header-height: 50px;
    --business-name-height: calc(var(--top-header-height) + 50px);
    --basic-font-family: Arial, Helvetica, sans-serif;
}
html, body{
    /* background-color: #e86b19;
    background-image: var(--bg-image); */
    background: linear-gradient(-45deg, #c6314a, #e26e2b);
    /* background-size: cover; */
    padding: 0px;
}
main{
    display: flex;
    position: fixed;
    top: .8%;
    right: 1%;
    left: .5%;
    bottom: 2%;
    border: 5px solid #ffffff3d;
    border-radius: 25px;
    box-shadow: 0;
    border-radius: 30px;
    overflow: hidden;
}

/* //MENU */
[left-main-menu]{
    display: flex;
    flex-flow: column;
    position: absolute;
    width: var(--left-menu-width);
    top: 0px;
    bottom: 0px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    overflow: hidden;
    overflow-y: auto;
    background: linear-gradient(to left, rgb(223, 223, 223), #eeeeeeb5);
}
/* MAIN TOP HEADER TAB */
[top-main-header]{
    position: absolute;
    display: flex;
    left: var(--left-menu-width);
    width: calc(100% - var(--left-menu-width));
    height: var(--top-header-height);
    top: 0px;
    background: linear-gradient(to bottom, rgb(219, 218, 218), #eeeeeeb5);
    border-top-right-radius: 25px;
    overflow: hidden;
    overflow-x: auto;
}
/* MAIN DISPLAY AREA */
[main-display-area]{
    position: absolute;
    /* display: flex; */
    left: var(--left-menu-width);
    width: calc(100% - var(--left-menu-width));
    top: var(--top-header-height);
    right: 0px;
    bottom: 0px;
    overflow-y: auto;
    background: linear-gradient(145deg, rgba(235, 232, 232, 0.89),  #eeeeee3d);
    border-bottom-right-radius: 25px;
}

/* LEFT MAIN MENU CONTENT */
[business-name-details]{
    display: inline-flex;
    width: calc(97% - 5px);
    /* border: 1px solid red; */
    height: var(--business-name-height);
    padding-left: 10px;
    border-top-left-radius: 25px;
}
[main-menu]{
    display: inline-flex;
    position: absolute;
    flex-flow: column;
    /* border: 1px solid green; */
    bottom: 0px;
    left:0px;
    right:0px;
    top: var(--business-name-height);
    border-bottom-left-radius: 25px;
    overflow: hidden;
    overflow-y: auto;
}
[main-menu] > span{
    transition: .6s;
    display: inline-flex;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 40px;
    min-height: 30px;
    color:#444444ed;
    margin-bottom: 5px;
}
[main-menu] > span.active{
    background: #f8f8f89a;
    color: #e26e2b;
}
[main-menu] > span:hover{
    background: #f8f8f89a;
    color: #e26e2b;
    cursor: pointer;                
}
[main-menu] > span *:hover{
    cursor: pointer;
}
[main-menu] > span i{
    margin: 0px 5px;
    width:20px;
}
[main-menu] > span label{
    padding-left: 10px;
    font-family: var(--basic-font-family);
    font-size: 13px;
}

[basic-card]{
    /* transition: .6s; */
    min-width: 200px;
    height: 80px;
    background: #ffffff;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 25px;
    box-shadow: 20px 20px 60px rgba(168, 42, 63, 0.349), -20px -20px 60px rgba(228, 56, 85, 0.212);
    font-family: var(--basic-font-family);
    font-size: 13px;
}
[overflow-x]
[full-width]{width: calc(100% - 2px);}
[flex]{display: flex;}
[in-flex]{display: inline-flex;}
[row-wrap]{flex-flow: row; flex-wrap: wrap;}
[space-evenly]{justify-content: space-evenly;}
[space-between]{justify-content: space-between;}
[space-around]{justify-content: space-around;}
[border-1]{border: 1px solid #777;}
/* SCROLL BAR */

*::-webkit-scrollbar-track
{
	--webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
    background-color: hsla(0, 0%, 96%, 0.63);
    margin-bottom: 1px;
}

*::-webkit-scrollbar
{
    width: 5px;
    height: 5px;
    background-color: rgba(245, 245, 245, 0.068);
    margin-bottom: 1px;
}

*::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	--webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgba(4, 196, 106, 0.855);
    margin-bottom: 1px;
}